body {
    background-color:white;
    margin:0;
}

header {
    justify-content: center;
    background-color:darkblue;
    color:white;
    align-content:stretch;
}
h1{
    margin-top:100px;
    margin-left:50px;
}

.row {
    display: flex;

}
.columnRight{
    margin-top:-70px;
}

.output {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    width: 50%;
    padding: 3px;
    margin: 10px;
}

input {
    display: flex;
    align-self: center;
    width: 20%;
    height: 10%;
    margin-left: 5%;
    margin-right: 5%
}

.deductions {
    display: flex;
    justify-content: space-between;
    margin-right: 15%;
}

.column>p {
    display: flex;
    justify-content: space-around;
}

.column>p>input {
    width: 80%;
}

li {
    font-size: 18px;
}

ul {
    display: flex;
    flex-direction: column;
}
.column1 li{
padding-bottom: 40px;
}
.column12 li{
    padding-bottom: 45px;
}
header h1 {
    display: flex;
    justify-content: center;
    font-size: 75px;
    margin-top: -10px;
    padding-top: 25px;
    padding-bottom: 25px;
}
#root{
    display:FLEX;
        justify-content:space-between;
        flex-wrap:wrap;
      flex-direction:row;
}
.something{
    border-style:solid;
    border-radius:5px;
    padding:10px;
    margin:10px;
    
}
h2{
    font-size: 55px;
}
h3{
    text-decoration:underline;
}
li{
    font-size: 45px;
    margin-bottom:10px;
}

.column p{
    padding-bottom:45px;
    padding-left:20px;
}
.column input{
    font-size: 25px;
}
button{
    background-color:white;
    color: black;
    font-size: 50px;
    display:flex;
    justify-content: center;
    padding:20px;
    border-style: solid;
    border-radius: 10px;
    margin-left:-150px;
}
h3{
    font-size:45px;
}
button:hover{
    background-color: darkblue;
    color:white;
}
.column > p{
    font-size: 25px;
}
.Transportation{
    margin-top: 125px;
}
.expenses h1{
    font-size: 60px;
}

tr {
    font-size: 25px;
}


.career p{
    font-size: 25px;
}

.career input{
    font-size: 25px;
}
.exp{
    display:flex;
    justify-content: space-around;
    margin-left:50px;
}

.options{
    font-size: 35px;
    text-decoration: underline;
    margin-left: 50px;
}

.career {
    margin-left: 150px;
    margin-top: 50px;
}
.taxes h3 {
font-size: 35px;
text-decoration: underline;
margin-left: 50px;
}
.taxpic{
    display:flex;
    justify-content: space-around;
}
.taxes p {
    font-size: 25px;
}
.romand p {
    font-size: 30px;
    margin-left: 90px;
}
.monthlyinc {
    font-size: 30px;
     display: flex;
justify-content: space-around;
margin-left: -70px;
}
.mainind input {
font-size: 30px;
}
.romand input {
margin-bottom: 20px;
}
.mnthly{
    padding:20px;
    margin-left:3px;
}
.foorte p{
    text-indent: 20px;
    font-size: 30px;
    margin:10px;
}
.foorte{
    display:flex;
    flex-direction: column;
    margin-left:750px;
}
.red{
    background-color:red;
    padding:5px;
    padding-left:35px;
    margin-right:30px;
}
.green{
    background-color:green;
    padding:5px;
    padding-left:35px;
    margin-right:30px;
}
.orange{
    background-color:rgb(246, 136, 2);
    padding:5px;
    padding-left:35px;
    margin-right:30px;
}
.purple{
    background-color:purple;
    padding:5px;
    padding-left:35px;
    margin-right:30px;
}
.yellow{
    background-color:aquamarine;
    padding:5px;
    padding-left:35px;
    margin-right:30px;
}
.pink{
    background-color:pink;
    padding:5px;
    padding-left:35px;
    margin-right:30px;
}
.blue{
    background-color:gray;
    padding:5px;
    padding-left:35px;
    margin-right:30px;
}
.gray{
    background-color:blue;
    padding:5px;
    padding-left:35px;
    margin-right:30px;
}
#endBalance{
    font-size:35px;
    margin-left:-250px;
}


.bottom{
    display:flex;
    width:30%;   
}
#myChart{
    margin-left:100px
}
@media screen and (max-width:600px){
    #root{
        display:none;
    }
    .picture{
        display:none;
    }
    #myChart{
        display:none;
    }
    .foorte{
        display:none;
    }
    header h1{
        font-size:30px;
        display:flex;
        justify-content:center;
    }
    .options{
        font-size:15px;
        display:flex;
        margin-left:10px;
    }
    .career p{
        font-size:15px;
        margin-left:-115px;
        margin-top:-30px;
    }
    #annualIncome{
        font-size:15px;
        width:80%;
        margin-left:-100px;
    }
    .taxes h3{
        font-size:20px;
        margin-left:15px;
    }
    .taxes p{
        font-size:15px;
    }
    .monthlyinc{
        font-size:15px;
        margin-left:20px;
        margin-top:-25px;
    }
    .romand p{
        font-size:20px;
        display:flex;
        justify-content:center;
    }
    #totalDeductions{
        font-size:20px;
        width:40%;
    }
    #MonthlyIncomeTwo{
        font-size:15px;
    }
    #totalDeductionsTwo{
        font-size:15px;
    }
    #netMonthly{
        font-size:15px;
    }
    .expenses h1{
        font-size:25px;
        margin-left:8px;
        margin-top:10px;
    }
    .exp h3{
        margin-left:10px;
        font-size:15px;
    }
    .exp .columnLeft{
        margin-left:-50px;
    }
    .exp .columnRight{
        margin-top:-190px;
        margin-left:-50px;        
    }
    .exp li{
        font-size:12px;
    }
    .exp{
        width:50%;
        display:flex;
        flex-flow:column;
    }
    .exp p{
        font-size:15px;
    }
    
    .column input{
        display:flex;
        font-size:15px;
        width:50%;
    }
    .columnRight input{
        font-size:15px;
        width:50%;
        display:flex;
    }
    button{
        margin-left:150px;
        font-size:10px;
        margin-top:-80px;
    }
    #endBalance{
        margin-left:50px;
        font-size:25px;
    }

}